body {
    background: ghostwhite;
    color: #2f3138;
    font-family: "Open Sans", sans-serif;
}

.center {
    max-width: 20%;
    margin: auto;
}

.fakeimg {
    height: 200px;
    background-image: linear-gradient(grey, skyblue);
}